.h1{
    text-align: center;
}

.sideinfo{
    color : white;
    text-align: start;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.container-sideinfo{
    width: 90%;
    margin: auto;
}

.rules li{
    width: 90%;
    margin: auto;
    padding-bottom: 10px;

}

.bold{
    font-weight: bold;
    color: burlywood;
}

.example-state{
  
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}